
   <section class="">
      <div class="container">
          <div class="row pt-5">
              <div class="col-12 col-md-12">
                  <div class="lis-relative">
                      <h3 class="mb-2">List of Selected Projects</h3>
                      <p>Search by taping any keyword</p>
                      <div class="row">
                          <div class="col-12 col-sm-6 col-lg-3">
                              <div class="form-group lis-relative">
                                  <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" #query (keyup)="search(query.value)" placeholder="Search...">
                                  <div class="lis-search"> <i class="fa fa-search lis-primary lis-left-0"></i> </div>
                              </div>
                          </div>
                      </div>


                       <div *ngIf="!hasItems">
                           <br>
                        <h4 class="mb-2">Projects will be displayed soon !</h4>
                       </div> 

                      <div *ngIf="hasItems">

                      <div class="row my-4">
                          <div class="col-12 col-md-12"> <div (click)="backClicked()" class="btn btn-primary btn-default"><i class="fa fa-arrow-left pr-2"></i> Go Back</div> </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6 align-self-center">
                              <p>Click on project to see more details</p>
                          </div>
                          <div class="col-sm-6">
                              <div class="float-sm-right shorting">
                                  <div class="form-group lis-relative">
                                      <select class="form-control border-0 pl-4">
                                          <option>Default Order</option>
                                          <option>Newest First</option>
                                          <option>Oldest First</option>
                                          <option>Highest Rating</option>
                                          <option>Lowest Rating</option>
                                          <option>Random</option>
                                      </select>
                                      <div class="lis-search"> <i class="fa fa-sliders lis-primary lis-left-0"></i> </div>
                                  </div>
                              </div>
                          </div>
                      </div>


                      <div  class="row">
                          <div *ngFor="let project of projectsSearch" class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4">
                              <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                  <a href="#">
                                      <div class="lis-grediant grediant-tb-light2 lis-relative modImage lis-radius rounded-top"> <img src="./assets/images/img5.jpg" alt="" class="img-fluid rounded-top w-100" /> </div>
                                      <div class="lis-absolute lis-right-20 lis-top-20">
                                          <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                                      </div>
                                  </a>
                                  <div class="card-body pt-0">
                                      <div class="media d-block d-lg-flex lis-relative"> <img src="./assets/images/card-logo5.png" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                          <div class="media-body align-self-start mt-2">
                                              <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">{{project.name}}</A></h6>
                                                <p>By: {{project.owner.username}}</p>
                                            </div>
                                            
                                      </div>
                                      <ul class="list-unstyled my-4 lis-line-height-2">
                                          <li><i class="fa fa-list pr-2"></i> {{project.category}}</li>
                                          <li><i class="fa fa-money pr-2"></i> {{project.fundraiser | currency :'TND'}}</li>
                                      </ul>
                                      <div class="clearfix">
                                          <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                              <a (click)="goTo(project._id)" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">Click To See Full Description</a> </div>
                                          <div class="float-none float-lg-right mt-1">
                                              <A href="#" class="lis-light lis-f-14">Score </A>
                                              <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> {{project.score.innovation + project.score.evolution + project.score.impexp}}</A> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>


                          
                      </div>


                      <div class="row mt-5">
                          <div class="col-md-12">
                              <nav>
                                  <ul class="pagination list-inline mb-0 text-center text-uppercase lis-f-14 justify-content-center">
                                      <li class="p-1 page-item"><a class="page-link lis-brd-light lis-light rounded" href="#"><i class="fa fa-angle-left pr-1"></i> Prev</a></li>
                                      <li class="p-1 page-item d-none d-sm-inline-block"><a class="page-link lis-light rounded" href="#">1</a></li>
                                      <li class="p-1 page-item d-none d-sm-inline-block active"><a class="page-link lis-light rounded" href="#">2</a></li>
                                      <li class="p-1 page-item d-none d-sm-inline-block"><a class="page-link lis-light rounded" href="#">3</a></li>
                                      <li class="p-1 page-item"><a class="page-link lis-brd-light lis-light rounded" href="#"> Next <i class="fa fa-angle-right pl-1"></i></a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                     </div>   

                  </div>
              </div>
          </div>
      </div>
  </section>
