   <!-- Sidebar -->
   <section class="">
      <div class="container">
          <div class="row pt-5">
              <div class="col-12 col-md-12">
                  <div class="lis-relative">
                      <h5 class="mb-2">What are you looking for?</h5>
                      <p>Search by Category</p>
                      <div class="row">
                          <div class="col-12 col-sm-6 col-lg-3">
                              <div class="form-group lis-relative">
                                  <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="What are you looking for?">
                                  <div class="lis-search"> <i class="fa fa-search lis-primary lis-left-0"></i> </div>
                              </div>
                          </div>
                          <div class="col-12 col-sm-6 col-lg-3">
                              <div class="form-group lis-relative">
                                  <input type="text" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Location">
                                  <div class="lis-search"> <i class="fa fa-map-o lis-primary lis-left-0"></i> </div>
                                  <div class="lis-search"> <a href="#" class="lis-light"><i class="fa fa-crosshairs lis-left-auto lis-right-0"></i></a> </div>
                              </div>
                          </div>
                          <div class="col-12 col-sm-6 col-lg-3">
                              <div class="form-group lis-relative">
                                  <select class="style-select form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4">
                                      <option> All Categories</option>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                  </select>
                                  <div class="lis-search"> <i class="fa fa-tags lis-primary lis-left-0"></i> </div>
                              </div>
                          </div>
                          <div class="col-12 col-sm-6 col-lg-3">
                              <div class="form-group lis-relative">
                                  <p class="pt-2 mb-2">Radius <span id="ex6CurrentSliderValLabel"> <span id="ex6SliderVal">530 </span></span>
                                  </p>
                                  <input id="ex6" type="text" data-slider-min="300" data-slider-max="1000" data-slider-step="1" data-slider-value="3" /> </div>
                          </div>
                      </div>
                      <button class="filter-btn bg-transparent border-0 lis-dark collapsed" data-toggle="collapse" data-target="#demo"> More Filters </button>
                      <div id="demo" class="collapse p-3 mt-3 form-wrapper">
                          <div class="row mt-3">
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox1" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Care Parking</span> </label>
                              </div>
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox5" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Events</span> </label>
                              </div>
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox3" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Wireless Internet</span> </label>
                              </div>
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox7" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Friendly Workspace</span> </label>
                              </div>
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox2" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Smoking Allowed</span> </label>
                              </div>
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox6" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Acceted Bank Cards</span> </label>
                              </div>
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox4" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Elevator Building</span> </label>
                              </div>
                              <div class="col-12 col-sm-4 col-lg-3">
                                  <label id="checkbox8" class="custom-control custom-checkbox d-block">
                                      <input type="checkbox" class="custom-control-input"> <span class="custom-control-indicator"></span> <span class="custom-control-description">Street Parking</span> </label>
                              </div>
                          </div>
                      </div>
                      <div class="row my-4">
                          <div class="col-12 col-md-12"> <a href="#" class="btn btn-primary btn-default"><i class="fa fa-search pr-2"></i> Search Place</a> </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-6 align-self-center">
                              <p>Showing results 1 - 6</p>
                          </div>
                          <div class="col-sm-6">
                              <div class="float-sm-right shorting">
                                  <div class="form-group lis-relative">
                                      <select class="form-control border-0 pl-4">
                                          <option>Default Order</option>
                                          <option>Newest First</option>
                                          <option>Oldest First</option>
                                          <option>Highest Rating</option>
                                          <option>Lowest Rating</option>
                                          <option>Random</option>
                                      </select>
                                      <div class="lis-search"> <i class="fa fa-sliders lis-primary lis-left-0"></i> </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4">
                              <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                  <a href="#">
                                      <div class="lis-grediant grediant-tb-light2 lis-relative modImage lis-radius rounded-top"> <img src="./assets/images/img5.jpg" alt="" class="img-fluid rounded-top w-100" /> </div>
                                      <div class="lis-absolute lis-right-20 lis-top-20">
                                          <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                                      </div>
                                  </a>
                                  <div class="card-body pt-0">
                                      <div class="media d-block d-lg-flex lis-relative"> <img src="./assets/images/card-logo5.png" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                          <div class="media-body align-self-start mt-2">
                                              <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Vintage Italian Beer Bar & Restaurant</A></h6> </div>
                                      </div>
                                      <ul class="list-unstyled my-4 lis-line-height-2">
                                          <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                          <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                                      </ul>
                                      <div class="clearfix">
                                          <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                              <A href="#" class="text-white"><i class="icofont icofont-beer px-2 lis-bg2 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="text-white"><i class="icofont icofont-fast-food px-2 lis-bg4 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                          <div class="float-none float-lg-right mt-1">
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 3.0</A> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4">
                              <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                  <a href="#">
                                      <div class="lis-grediant grediant-tb-light2 lis-relative modImage lis-radius rounded-top"> <img src="./assets/images/img1.jpg" alt="" class="img-fluid rounded-top w-100" /> </div>
                                      <div class="lis-absolute lis-right-20 lis-top-20">
                                          <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                                      </div>
                                  </a>
                                  <div class="card-body pt-0">
                                      <div class="media d-block d-lg-flex lis-relative"> <img src="./assets/images/card-logo.png" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                          <div class="media-body align-self-start mt-2">
                                              <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Chico Express Car Taxi and Limo Service</A></h6> </div>
                                      </div>
                                      <ul class="list-unstyled my-4 lis-line-height-2">
                                          <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                          <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                                      </ul>
                                      <div class="clearfix">
                                          <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                              <A href="#" class="text-white"><i class="icofont icofont-travelling px-2 lis-bg5 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                          <div class="float-none float-lg-right mt-1">
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.0</A> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4">
                              <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                  <a href="#">
                                      <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="./assets/images/img2.jpg" alt="" class="img-fluid rounded-top w-100" /> </div>
                                      <div class="lis-absolute lis-right-20 lis-top-20">
                                          <div class="lis-post-meta border border-white text-white rounded lis-f-14">Closed</div>
                                      </div>
                                  </a>
                                  <div class="card-body pt-0">
                                      <div class="media d-block d-lg-flex lis-relative"> <img src="./assets/images/card-logo2.png" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                          <div class="media-body align-self-start mt-2">
                                              <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Bodega Garage - Filipino Night Club</A></h6> </div>
                                      </div>
                                      <ul class="list-unstyled my-4 lis-line-height-2">
                                          <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                          <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                                      </ul>
                                      <div class="clearfix">
                                          <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                              <A href="#" class="text-white"><i class="icofont icofont-radio-mic px-2 lis-bg3 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="text-white"><i class="icofont icofont-beer px-2 lis-bg2 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                          <div class="float-none float-lg-right mt-1">
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 5.0</A> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4 mb-lg-0">
                              <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                  <a href="#">
                                      <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="./assets/images/img3.jpg" alt="" class="img-fluid rounded-top w-100" /> </div>
                                      <div class="lis-absolute lis-right-20 lis-top-20">
                                          <div class="lis-post-meta border border-white text-white rounded lis-f-14">Closed</div>
                                      </div>
                                  </a>
                                  <div class="card-body pt-0">
                                      <div class="media d-block d-lg-flex lis-relative"> <img src="./assets/images/card-logo3.png" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                          <div class="media-body align-self-start mt-2">
                                              <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Regal Cinemas Destiny USA 19 IMAX & RPX</A></h6> </div>
                                      </div>
                                      <ul class="list-unstyled my-4 lis-line-height-2">
                                          <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                          <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                                      </ul>
                                      <div class="clearfix">
                                          <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                              <A href="#" class="text-white"><i class="icofont icofont-radio-mic px-2 lis-bg3 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">1 More...</A> </div>
                                          <div class="float-none float-lg-right mt-1">
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.5</A> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4 mb-md-0">
                              <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                  <a href="#">
                                      <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="./assets/images/img12.jpg" alt="" class="img-fluid rounded-top w-100" /> </div>
                                      <div class="lis-absolute lis-right-20 lis-top-20">
                                          <div class="lis-post-meta border border-white text-white rounded lis-f-14">Open</div>
                                      </div>
                                  </a>
                                  <div class="card-body pt-0">
                                      <div class="media d-block d-lg-flex lis-relative"> <img src="./assets/images/card-logo6.png" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                          <div class="media-body align-self-start mt-2">
                                              <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Brenda's French Soul Food Restaurant</A></h6> </div>
                                      </div>
                                      <ul class="list-unstyled my-4 lis-line-height-2">
                                          <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                          <li><i class="fa fa-map-o pr-2"></i> First Street, New York, USA</li>
                                      </ul>
                                      <div class="clearfix">
                                          <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                              <A href="#" class="text-white"><i class="icofont icofont-beer px-2 lis-bg2 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="text-white"><i class="icofont icofont-fast-food px-2 lis-bg4 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">2 More...</A> </div>
                                          <div class="float-none float-lg-right mt-1">
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 3.5</A> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                              <div class="card lis-brd-light wow fadeInUp text-center text-lg-left">
                                  <a href="#">
                                      <div class="lis-grediant grediant-tb-light2 lis-relative modImage rounded-top"> <img src="./assets/images/img4.jpg" alt="" class="img-fluid rounded-top w-100" /> </div>
                                      <div class="lis-absolute lis-right-20 lis-top-20">
                                          <div class="lis-post-meta border border-white text-white rounded lis-f-14">Closed</div>
                                      </div>
                                  </a>
                                  <div class="card-body pt-0">
                                      <div class="media d-block d-lg-flex lis-relative"> <img src="./assets/images/card-logo4.png" alt="" class="lis-mt-minus-15 img-fluid d-lg-flex mx-auto mr-lg-3 mb-4 mb-lg-0 border lis-border-width-2 rounded-circle border-white" width="80" />
                                          <div class="media-body align-self-start mt-2">
                                              <h6 class="mb-0 lis-font-weight-600"><A href="#" class="lis-dark">Pembridge Palace Hotel and Resort</A></h6> </div>
                                      </div>
                                      <ul class="list-unstyled my-4 lis-line-height-2">
                                          <li><i class="fa fa-phone pr-2"></i> +88 25 5894 2589</li>
                                          <li><i class="fa fa-map-o pr-2"></i>First Street, New York, USA</li>
                                      </ul>
                                      <div class="clearfix">
                                          <div class="float-none float-lg-left mb-3 mb-lg-0 mt-1">
                                              <A href="#" class="text-white"><i class="icofont icofont-hotel-alt px-2 lis-bg1 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="text-white"><i class="icofont icofont-fast-food px-2 lis-bg2 py-2 lis-rounded-circle-50 lis-f-14"></i></A>
                                              <A href="#" class="lis-id-info lis-light p-2 lis-rounded-circle-50 lis-f-14">2 More...</A> </div>
                                          <div class="float-none float-lg-right mt-1">
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-envelope-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-light lis-f-14"><i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i></A>
                                              <A href="#" class="lis-green-light text-white p-2 lis-rounded-circle-50 lis-f-14"><i class="fa fa-star"></i> 4.0</A> </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="row mt-5">
                          <div class="col-md-12">
                              <nav>
                                  <ul class="pagination list-inline mb-0 text-center text-uppercase lis-f-14 justify-content-center">
                                      <li class="p-1 page-item"><a class="page-link lis-brd-light lis-light rounded" href="#"><i class="fa fa-angle-left pr-1"></i> Prev</a></li>
                                      <li class="p-1 page-item d-none d-sm-inline-block"><a class="page-link lis-light rounded" href="#">1</a></li>
                                      <li class="p-1 page-item d-none d-sm-inline-block active"><a class="page-link lis-light rounded" href="#">2</a></li>
                                      <li class="p-1 page-item d-none d-sm-inline-block"><a class="page-link lis-light rounded" href="#">3</a></li>
                                      <li class="p-1 page-item"><a class="page-link lis-brd-light lis-light rounded" href="#"> Next <i class="fa fa-angle-right pl-1"></i></a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--End Sidebar -->