<!-- Category -->
<section>
    <div class="container pt-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div class="heading pb-4">
                    <h5 class="lis-light">Find the best projects</h5>
                    <h2 class="f-weight-500">Displaying all Category</h2> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg1 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-hotel-alt"></i></div> Hotel
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 11 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg2 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-beer"></i></div> Bar &amp; Club
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 12 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg3 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-radio-mic"></i></div> Entertainment
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 13 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg4 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-fast-food"></i></div> Restaurant
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 14 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg5 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-travelling"></i></div> Tour & Travels
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 15 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg6 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-medical-sign-alt"></i></div> Medical
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 16 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg7 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-home"></i></div> Propery
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 17 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg8 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-volleyball"></i></div> Sports
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 18 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-md-0 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg9 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-truck-loaded"></i></div> Transport
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 19 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-md-0 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg10 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-industries"></i></div> Industries
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 20 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-md-0 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg11 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-monitor"></i></div> Technology
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 21 Listing </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 text-center wow fadeInUp">
                <a href="#" class="text-white">
                    <div class="lis-categories lis-bg12 rounded lis-font-poppins py-4">
                        <div class="text-white mb-2 h2"><i class="icofont icofont-book-alt"></i></div> Education
                        <div class="categories-listing lis-absolute lis-left-0 lis-right-0 invisible lis-font-roboto"> 22 Listing </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!--End Category -->