
  <!-- Page Inner -->

  <section class="" style=" background-image: url('./assets/images/bb.png');">
    <div id="particles-js"></div>
  <div class="background-image-maker"></div>

  <div class="holder-image">
    <img src="./assets/images/bg1.jpg" alt="" class="img-fluid d-none">
  </div>
  <div class="container">
    <div class="row justify-content-center pt-5">
      <div class="col-12 col-md-10 text-center wow fadeInUp" style="top:-50px;">

          <div  class="introductionMessage" data-behavior="dismissible" data-dismissible-id="intro">
              <!-- Thanks to Dan Gries for this code! -->
              <!-- http://rectangleworld.com/blog/archives/538 -->
              <canvas class="introductionMessage__background" id="displayCanvas" width="2732" height="500"></canvas>
              <div class="introductionMessage__contents">
              <div class="introductionMessage__contents__content" >
              <h1 class="introductionMessage__title">
              Discover tomorrow's projects<span class="delay">, today.</span></h1>
              <img src="./assets/images/logoM.png" alt="" class="img-fluid" /> <br><br>
              <h2 class="introductionMessage__description">ESPRIT MARKET is a community of makers showcasing their projects and reaching investors.</h2>
              <h4><a href="#" class="introductionMessage__cta btn btn-primary-outline btn-md lis-rounded-circle-50">
                  Discover</a></h4>
              </div>
              </div>
              </div>
        <div class="heading pb-5">
          <h1 class="display-4">
          </h1>
          <br><br><br><br>
          <h4 class="font-weight-normal mb-0">Expolore top-rated prototypes, projects and more</h4>
          
        </div>


      </div>
    </div>
  </div>
</section>
<!--End Page Inner -->
<!-- Featured Property -->
<section class="lis-bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <div class="heading pb-4">
          <h2>Featured Projects</h2>
          <h5 class="font-weight-normal lis-light">Discover & connect with top-rated projects</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
        <div class="card lis-brd-light">
          <a href="listing-explore-property-profile.html">
            <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded-top">
              <img src="./assets/images/img9.jpg" alt="" class="img-fluid rounded-top w-100">
            </div>
            <div class="lis-absolute lis-right-20 lis-top-20">
              <div class="lis-post-meta border border-white text-white rounded lis-f-14">For Sale</div>
            </div>
          </a>
          <div class="card-body">
            <h6 class="lis-font-weight-600 mb-2">
              <a href="listing-explore-property-profile.html" class="lis-dark">Villa in Melbourne City</a>
            </h6>
            <ul class="list-unstyled mt-0">
              <li>
                <i class="fa fa-map-o pr-2"></i>1903 Hollywood, NJ 85624, USA</li>
            </ul>
            <div class="media pt-2">
              <div class="d-flex">
                <h5 class="lis-primary mb-0">
                  <span class="lis-f-14 lis-dark">
                    Fundraiser:</span> $13,80,000 </h5>
              </div>
              <div class="media-body align-self-center text-right">
                <a href="#" class="lis-light lis-f-14">
                  <i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="lis-devider"></div>
          <ul class="list-inline mb-0 text-center lis-property-meta">
            <li class="list-inline-item lis-brd-right lis-brd-light lis-meta-block float-left">
              <i class="fa fa-object-group pr-1"></i> 5842 m2</li>
            <li class="list-inline-item lis-brd-right lis-brd-light lis-meta-block float-left">
              <i class="fa fa-bed pr-1"></i> 4 Bed</li>
            <li class="list-inline-item lis-meta-block float-left">
              <i class="fa fa-bath pr-1"></i> 3 Bath</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
        <div class="card lis-brd-light">
          <a href="listing-explore-property-profile.html">
            <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded-top">
              <img src="./assets/images/img10.jpg" alt="" class="img-fluid rounded-top w-100">
            </div>
            <div class="lis-absolute lis-right-20 lis-top-20">
              <div class="lis-post-meta border border-white text-white rounded lis-f-14">For Rent</div>
            </div>
          </a>
          <div class="card-body">
            <h6 class="lis-font-weight-600 mb-2">
              <a href="listing-explore-property-profile.html" class="lis-dark">Family House in Omaha</a>
            </h6>
            <ul class="list-unstyled mt-0">
              <li>
                <i class="fa fa-map-o pr-2"></i>15421 Southwest, NJ 32568, USA</li>
            </ul>
            <div class="media pt-2">
              <div class="d-flex">
                <h5 class="lis-primary mb-0">
                  <span class="lis-f-14 lis-dark">
                    Fundraiser:</span> $2,500
                  <small class="lis-light">/month</small>
                </h5>
              </div>
              <div class="media-body align-self-center text-right">
                <a href="#" class="lis-light lis-f-14">
                  <i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="lis-devider"></div>
          <ul class="list-inline mb-0 text-center lis-property-meta">
            <li class="list-inline-item lis-brd-right lis-brd-light lis-meta-block float-left">
              <i class="fa fa-object-group pr-1"></i> 2018 m2</li>
            <li class="list-inline-item lis-brd-right lis-brd-light lis-meta-block float-left">
              <i class="fa fa-bed pr-1"></i> 2 Bed</li>
            <li class="list-inline-item lis-meta-block float-left">
              <i class="fa fa-bath pr-1"></i> 1 Bath</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0">
        <div class="card lis-brd-light">
          <a href="listing-explore-property-profile.html">
            <div class="modImage lis-grediant grediant-tb-light2 lis-relative rounded-top">
              <img src="./assets/images/img11.jpg" alt="" class="img-fluid rounded-top w-100">
            </div>
            <div class="lis-absolute lis-right-20 lis-top-20">
              <div class="lis-post-meta border border-white text-white rounded lis-f-14">For Rent</div>
            </div>
          </a>
          <div class="card-body">
            <h6 class="lis-font-weight-600 mb-2">
              <a href="listing-explore-property-profile.html" class="lis-dark">Park Avenue Apartment </a>
            </h6>
            <ul class="list-unstyled mt-0">
              <li>
                <i class="fa fa-map-o pr-2"></i>14228 Townshire Drive, NJ 06589, USA</li>
            </ul>
            <div class="media pt-2">
              <div class="d-flex">
                <h5 class="lis-primary mb-0">
                  <span class="lis-f-14 lis-dark">
                    Fundraiser:</span> $3,100
                  <small class="lis-light">/month</small>
                </h5>
              </div>
              <div class="media-body align-self-center text-right">
                <a href="#" class="lis-light lis-f-14">
                  <i class="fa fa-heart-o lis-id-info  lis-rounded-circle-50 text-center"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="lis-devider"></div>
          <ul class="list-inline mb-0 text-center lis-property-meta">
            <li class="list-inline-item lis-brd-right lis-brd-light lis-meta-block float-left">
              <i class="fa fa-object-group pr-1"></i> 3258 m2</li>
            <li class="list-inline-item lis-brd-right lis-brd-light lis-meta-block float-left">
              <i class="fa fa-bed pr-1"></i> 4 Bed</li>
            <li class="list-inline-item lis-meta-block float-left">
              <i class="fa fa-bath pr-1"></i> 2 Bath</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Featured Property -->

<!-- Work -->
<section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 text-center">
          <div class="heading pb-4">
            <h2>How Does It Work</h2>
            <h5 class="font-weight-normal lis-light">Esprit Market Allows Connects Investors and Project Owners</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
          <div class="icon-box box-line box-line-dotted1 lis-relative">
            <img src="./assets/images/p.png" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
            <h5>1. Add Your Project</h5>
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
              sem neque sed ipsum.</p>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
          <div class="icon-box box-line box-line-dotted2 lis-relative">
            <img src="./assets/images/icon-2.png" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
            <h5>2. Wait For Approval</h5>
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
              sem neque sed ipsum.</p>
          </div>
        </div>
        <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
          <div class="icon-box">
            <img src="./assets/images/icon-3.png" alt="" class="img-fluid mb-4 z-index-99  lis-relative" />
            <h5>3. Get Contacted By Investors</h5>
            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
              sem neque sed ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End Work -->
  <!-- Call To Action -->
  <section class="lis-bg-primary py-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 text-center wow fadeInUp">
            <div class="heading">
              <h2 class="text-uppercase lis-line-height-1_5 text-white">HAVE A PROJECT AND WOULD LIKE TO GET INVESTMENT?</h2>
              <a href="add-listing.html" class="btn btn-outline-light btn-default text-uppercase">Add Your Project Here</a>
            </div>
          </div>
        </div>
  
      </div>
    </section>
    <!--End Call To Action -->



<!-- Features -->
<section class="image-bg lis-grediant grediant-full">
  <div class="background-image-maker"></div>
  <div class="holder-image">
    <img src="./assets/images/bg2.jpg" alt="" class="img-fluid d-none">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <div class="heading pb-4">
          <h2>How To Invest In Projects</h2>
          <h5 class="font-weight-normal">Expolore top projects and invest in them</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
        <div class="lis-features-box lis-brd-light border rounded px-4 py-5">
          <div class="h1">
            <i class="fa fa-address-card-o h1"></i>
          </div>
          <h5>Browse Categories</h5>
          Maecs tempus, tellus eget rhoncus, sem condimentum quam semper libero.
        </div>
      </div>
      <div class="col-12 col-md-4 text-center wow fadeInUp mb-5 mb-md-0">
        <div class="lis-features-box lis-brd-light border rounded px-4 py-5">
          <div class="h1">
            <i class="fa fa-bullhorn h1"></i>
          </div>
          <h5>Choose Project</h5>
          Maecs tempus, tellus eget rhoncus, sem condimentum quam semper libero.
        </div>
      </div>
      <div class="col-12 col-md-4 text-center wow fadeInUp">
        <div class="lis-features-box lis-brd-light border rounded px-4 py-5">
          <div class="h1">
            <i class="fa fa-handshake-o h1"></i>
          </div>
          <h5>Invest and Partner</h5>
          Maecs tempus, tellus eget rhoncus, sem condimentum quam semper libero.
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Features -->





<!-- Pricing -->
<section class="lis-bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <div class="heading pb-4">
          <h2>Choose Your Plan</h2>
          <h5 class="font-weight-normal lis-light">Discover & connect with top-rated local businesses</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center">
        <div class="price-table">
          <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
            <h5 class="text-uppercase lis-latter-spacing-2">Basic</h5>
            <h1 class="display-4 lis-font-weight-500">
              <sup>$</sup> 39
              <small>/mo</small>
            </h1>
            <p class="mb-0">Basic User Membership</p>
          </div>
          <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
            <ul class="list-unstyled lis-line-height-3">
              <li>One Time Fee</li>
              <li>One Listing</li>
              <li>90 Days Availability</li>
              <li>Featured In Search Results</li>
              <li>24/7 Support</li>
            </ul>
            <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50">
              <i class="fa fa-shopping-cart pr-2"></i>Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center">
        <div class="price-table active">
          <div class="price-header lis-bg-primary py-4 text-white lis-rounded-top">
            <h5 class="text-uppercase lis-latter-spacing-2 text-white">Premium</h5>
            <h1 class="display-4 lis-font-weight-500 text-white">
              <sup>$</sup> 69
              <small>/mo</small>
            </h1>
            <p class="mb-0">Permium User Membership</p>
          </div>
          <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
            <ul class="list-unstyled lis-line-height-3">
              <li>One Time Fee</li>
              <li>One Listing</li>
              <li>90 Days Availability</li>
              <li>Featured In Search Results</li>
              <li>24/7 Support</li>
            </ul>
            <a href="#" class="btn btn-primary btn-md lis-rounded-circle-50">
              <i class="fa fa-shopping-cart pr-2"></i>Order Now</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 wow fadeInUp text-center">
        <div class="price-table">
          <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
            <h5 class="text-uppercase lis-latter-spacing-2">business</h5>
            <h1 class="display-4 lis-font-weight-500">
              <sup>$</sup> 99
              <small>/mo</small>
            </h1>
            <p class="mb-0">Basic User Membership</p>
          </div>
          <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
            <ul class="list-unstyled lis-line-height-3">
              <li>One Time Fee</li>
              <li>One Listing</li>
              <li>90 Days Availability</li>
              <li>Featured In Search Results</li>
              <li>24/7 Support</li>
            </ul>
            <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50">
              <i class="fa fa-shopping-cart pr-2"></i>Order Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--End Pricing -->

<app-footer></app-footer>

<!-- Top To Bottom-->
<a href="#" class="scrollup text-center lis-bg-primary lis-rounded-circle-50">
  <div class="text-white mb-0 lis-line-height-1_7 h3">
    <i class="icofont icofont-long-arrow-up"></i>
  </div>
</a>


<!-- End Top To Bottom-->





<!-- jQuery -->
<script src="./assets/js/plugins.min.js"></script>
<script src="./assets/js/common.js"></script>
